.container
  = form_for Track.new do |f|
    = f.label :track, "Upload tracks:"
    = f.file_field :track

  %script#template-upload{:type => "text/x-tmpl"}
    .upload
      {%=o.name%}
    .progress
      .bar{ style: 'width: 0%' }
